.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  min-height: 150px;
  height: auto;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.strikethrough {
  text-decoration: line-through;
}

.App-title-wrapper {
  padding: 10px 15px;
  border: 1px solid #9400D3;
  border-radius: 3px;
}

.App-content {
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .App-content {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .App-content {
    width: 720px;
    margin: 0 auto;
  } 
}

.caesar-cipher label {
  display: block;
  margin: 0 0 5px;
}

.caesar-cipher input {
  margin: 0 5px;
}

.caesar-cipher-mode-select {
  margin-bottom: 15px;
}